<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire Matériel de Musique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <header>
        <h1>Inventaire Matériel de Musique</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h2>Catégories</h2>
        <ul>
            <li><a href="{{ url_for('guitare') }}">Guitares</a></li>
            <li><a href="{{ url_for('claviers') }}">Claviers</a></li>
        </ul>

        <h2>Inventaire :</h2>
        <ul>
            {% for record in records %}
                <li>{{ record.item_name }} ({{ record.item_type }}): {{ record.quantity }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
